@page "/fd004/test"
@using DataVisual.Data
@inject NavigationManager NavigationManager
@inject FD004Service fd4service
@inject IJSRuntime jsruntime;

<h3>FD004 Test Table</h3>

<p>Please enter the id number that you want to check:</p>
<p>
    <label>
        Enter the ID number here (Please enter a number in the range 1~248):
        <input @bind="Id" />
    </label>
</p>

<p>
    <button class="btn btn-primary" @onclick="(() => ShowTEST(Id))">Search</button>
</p>
<p>
    <button class="btn btn-secondary" @onclick="(() => Return())">Return</button>
</p>

@code {
    private int? Id;

    async void ShowTEST(int? Id)
    {
        if(Id>0 && Id<=248)
        {
            NavigationManager.NavigateTo($"/fd004/test/show/{Id}");
        }
        else
        {
            await jsruntime.InvokeAsync<string>("alert", "Please enter a valid number!");
        }
    }

    void Return()
    {
        NavigationManager.NavigateTo("/fd004");
    }
}